<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FinnhubAPI</title>
</head>
<body>
<h3>FinnhubAPI</h3>
<!--<form th:action="@{/api/v1/auth}" th:object="${request}" method="POST">-->
<!--    <p>Login: <input type="text" th:field="*{login}" /></p>-->
<!--    <p>Password: <input type="text"  th:field="*{password}" /></p>-->
<!--    <p><input type="submit" value="SignIn" /></p>-->
<!--</form>-->
</body>
</html>